* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #afafaf;
}
.calc-container {
  border-radius: 15px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 7px 8px 22px 0px rgba(0, 0, 0, 0.39);

  overflow: hidden;
}
.display {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2em 2.5em 1em;
}
.result{
    margin-top:0.5em;
    font-size: 2rem;
}
.buttons-container {
  background-color: #292929;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 1em 1em;
}
button {
  padding: 2em 2em;
  width: 75px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
}
button:hover{
    background-color: #5555555b;
}
button:active{
    background-color: #55555593;
}
.numbers{
    color:white;
}
.operations{
    color:#afafaf;
}
#zero{
    flex-grow: 1;
    border-radius: 16px;
}
